@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --default-font:
    'Open Sans', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --heading-font: 'Jost', sans-serif;
  --nav-font: 'Poppins', sans-serif;
}
header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 32px;
  background: #023b6d;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.navBar_container {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}
.navBar_top {
  display: flex;
  justify-content: space-between;
}
.logo_container {
  padding-left: 10px;
  display: flex;
  align-items: center;
}
.navBar_top_logo {
  height: 25px;
}
.preview_computer > img,
.preview_tablet > img,
.preview_phone > img {
  height: 23px;
}
.preview_container {
  display: flex;
  gap: 10px;
  margin-left: 24px;
}
.navBar_top_mid_container {
  display: flex;
  align-items: center;
}
.navBar_top_mid {
  font-size: 16px;
  padding: 0;
  font-weight: 700;
  color: #fff;
  margin: -2px 10px 0 10px;
  text-decoration: none;
}
.navBar_top_mid_img {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navBar_top_right_container {
  display: flex;
  align-items: center;
}
.download_btn_container {
  background: #00a6eb;
  color: #fff;
  font-size: 13px;
  padding: 0 16px;
  height: 32px;
  font-weight: 700;
  margin-left: 15px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 10px;
}
.navBar_bottom {
  padding: 15px 0;
  height: fit-content;
  width: 100%;
  position: fixed;
  top: 32px;
}
.navBar_bottom_container {
  width: 91%;
  max-width: 1320px;
  display: flex;
  align-items: center;
  justify-content: center;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  height: 59px;
  padding-inline: calc(var(--bs-gutter-x) * 0.5);
  margin-inline: auto;
  --background-color: rgba(255, 255, 255, 0);
}
.navBar_bottom_left {
  font-size: 30px;
  font-weight: 500;
  color: var(--contrast-color);
  letter-spacing: 2px;
  font-family: var(--heading-font);
  margin-right: auto;
}
.navBar_bottom_right {
  display: flex;
  align-items: center;
}
.categori,
.categori_1,
.categori_btn {
  padding: 18px 15px;
  font-size: 15px;
  font-family: var(--nav-font);
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  transition: 0.3s;
  color: var(--nav-color);
}
.categori > img {
  margin-left: 4px;
}
.categori_1 {
  color: var(--nav-hover-color);
}
.categori_btn {
  color: var(--contrast-color);
  background: var(--accent-color);
  font-size: 14px;
  padding: 8px 25px;
  margin: 0 0 0 15px;
  border-radius: 50px;
  height: 37px;
  font-family: var(--default-font);
}
.page1 {
  width: 100%;
  height: 752px;
  padding-block: 152px 60px;
  background-color: var(--heading-color);
}
.page1_container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  width: 91%;
  max-width: 1350px;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.page1_left_container {
  margin-top: 24px;
  padding-inline: 12px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.page1_left_title {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: var(--surface-color);
  font-family: var(--heading-font);
}
.page1_left_subtitle {
  color: color-mix(in srgb, var(--contrast-color), transparent 30%);
  margin: 5px 0 30px 0;
  font-size: 22px;
  line-height: 1.3;
  font-weight: 600;
  font-family: var(--default-font);
}
.page1_right_container {
  margin-top: 24px;
  padding-inline: 12px;
  height: 452px;
}
.page1_right_container > img {
  height: 100%;
}
.page1_left_btns {
  display: flex;
  align-items: center;
}
.page1_left_firstBtn {
  color: var(--contrast-color);
  background: var(--accent-color);
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 12px 28px;
  border-radius: 50px;
  transition: 0.5s;
}
.page1_left_secondBtn {
  font-size: 16px;
  transition: 0.5s;
  margin-left: 25px;
  color: var(--contrast-color);
  font-weight: 600;
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
}
.page1_left_secondBtn > img {
  transition: 0.3s;
  margin-right: 8px;
  height: 100%;
}
.page1_bottom_bar {
  width: 100%;
  height: 70px;
  color: var(--default-color);
  background-color: var(--background-color);
  padding-block: 12px;
}
.page1_company_container {
  width: 91%;
  height: 100%;
  max-width: 1400px;
  margin-inline: auto;
  padding-inline: 12px;
}
.page1_company_bar {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-content: center;
  padding-block: 10px;
}
.page1_company_bar > img {
  height: 100%;
}
.page1_aboutUs_top {
  height: fit-content;
  padding-block: 60px;
  width: 100%;
}
.page1_aboutUs_container {
  display: flex;
  padding: 0px 12px 60px 12px;
  margin-inline: 57px;
  justify-content: center;
}
.page1_aboutUs_title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  color: var(--heading-color);
  font-family: var(--heading-font);
  position: relative;
}
.page1_aboutUs_title::before {
  content: '';
  position: absolute;
  display: block;
  width: 160px;
  height: 1px;
  background: color-mix(in srgb, var(--default-color), transparent 60%);
  left: 0;
  right: 0;
  bottom: 1px;
  margin: auto;
}
.page1_aboutUs_title::after {
  content: '';
  position: absolute;
  display: block;
  width: 60px;
  height: 3px;
  background: var(--accent-color);
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.page1_aboutUs_outline {
  height: 209px;
  margin-inline: 57px;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 89%;
  max-width: 1350px;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}
.page1_aboutUs_inline {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}
.page1_aboutUs_left,
.page1_aboutUs_right {
  padding-inline: 12px;
  margin-top: 24px;
}
.page1_aboutUs_left_title,
.page1_aboutUs_right_info {
  margin-bottom: 1rem;
  font-family: var(--default-font);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
}
.page1_aboutUs_left_lists {
  display: flex;
  flex-direction: column;
}
.page1_aboutUs_left_list > p {
  font-family: var(--default-font);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
}
.page1_aboutUs_readBtn {
  color: var(--accent-color);
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 8px 28px;
  border-radius: 5px;
  transition: 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--accent-color);
}
.page1_aboutUs_readBtn > img {
  margin-left: 5px;
  padding-right:;
}
.page1_aboutUs_left_list {
  display: flex;
}
.page1_aboutUs_left_list > img {
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  padding-right: 4px;
}
